@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
* {
	box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;
  
}

#navbar {
	position: sticky;
	top: 0;
}

#navbar ul {
	display: grid;
	list-style: none;
	grid-template-columns: 1fr 1fr 1fr 2fr;
	grid-template-rows: 1fr;
	padding: 0.5rem;
	font-size: 1.5rem;
	background-color: #455073;	
	justify-items: center;
}

a {
	text-decoration: none;
	color: #ffffff;
}
/*
#about {
	grid-column: 1/2;
	grid-row: 1;
}

#portfolio {
	grid-column: 2/3;
	grid-row: 1;
}


#cv {
	grid-column: 3/4;
	grid-row:1;
}
*/
#contact a{
	color: #F28F38;
}	

#main_image {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto, 1fr;
  margin:0;
}

#main_image img {
	width: 50vw;
	height: auto;
 /* align:center;*/
  grid-column:2/4;
}

#main_image_caption {
  grid-column: 1/5;
  grid-row: 2/3;
  /*height: 25vh;*/
  font-size: 2rem;
  text-align: center;
  padding: 2rem 1rem 2rem 1rem;
  margin: 0;
  background-color: #4E74BF; 
  color: #ffffff;
}

/*#main_image_caption a {
  color: #F2B872;
}  */

#aboutme {
  color: #ffffff;
  background-color: #455073; /*#F2B872*/
  padding: 2rem 1rem 2rem 1rem;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  
#main_image img {
  	width: 80vw;
  	height: auto;
   /* align:center;*/
    grid-column:1/4;
  }

#main_image_caption {
    grid-column: 1/5;
    grid-row: 2/3;
    /*height: 25vh;*/
    font-size: 2rem;
    text-align: center;
    padding: 2rem 1rem 2rem 1rem;
    background-color: #4E74BF; 
    color: #ffffff;
  }

#main_image_caption a {
  color: #F2B872;
}  
  
}