@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
* {
	box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;
  
}

h2 {
  color:#F2BB77;
}

#navbar {
	position: sticky;
	top: 0;
}

#navbar ul {
	display: grid;
	list-style: none;
	grid-template-columns: 1fr 1fr 1fr 2fr;
	grid-template-rows: 1fr;
	padding: 1rem;
	font-size: 1.5rem;
	background-color: #455073;	
	justify-items: center;
}

a {
	text-decoration: none;
	color: #ffffff;
}


#contact a{
	color: #F28F38;
}	

#main_image {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto, 1fr;
  margin:0;
}

#main_image img {
	width: 80vw;
	height: auto;
  grid-column:1/4;
}

#main_image_caption {
  grid-column: 1/5;
  grid-row: 2/3;
  font-size: 2rem;
  text-align: center;
  padding: 2rem 1rem 2rem 1rem;
  margin: 0;
  background-color: #4E74BF; 
  color: #ffffff;
}


.aboutme {
  color: #ffffff;
  background-color: #455073;
  padding: 2rem 1rem 2rem 1rem;
  margin: 0;
  text-align: center;
}

.portfolio {
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center;
  background-color: #4E74BF; 
  color: #ffffff;
  padding-top: 2rem;
  margin: 0;
}

.projectcontainer {
  display:flex;
  flex-direction: column;
  align-items: center;
  width:80vw;
}

.projectfigure img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 600px) {
  
#main_image img {
  	width: 50vw;
  	height: auto;
   /* align:center;*/
    grid-column:2/4;
  }

.portfoliolist {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.projectcontainer {
  display:flex;
  flex-direction: column;
  align-items: center;
  width:20vw;
  padding: 2vw;
}

.projectgifure img {
  
}

}